.App {
  text-align: center;
  background-color:#ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7289da;
}





.container {
  border: 3px solid black;
  background-color: goldenrod
}

.link {
  color: #f06a67;
}
